    <img src="/images/silang.png" class="watermark" alt="">

    <div class="content">
        <div class="header">
            <img src="/images/silang.png" alt="Silang Logo">
            <div class="gov">
                <div>Republic of the Philippines</div>
                <div>Province of Cavite</div>
                <div>Municipality of Silang</div>
                <h2>MUNICIPAL SOCIAL WELFARE AND DEVELOPMENT</h2>
            </div>
            <img src="/images/dswd.png" alt="DSWD Logo">
        </div>

        <div class="line"></div>
        <div class="line2"></div>

        <div class="top-info">
            <div></div>
            <div class="right">{{REPORT_DATE}}</div>
        </div>

        <div style="margin-top:8px; font-family: Arial; font-size: 11px; font-weight: bold;">
            <b>CONTROL NO.</b> {{CONTROL_NUMBER}}
        </div>

        <div class="title">
            <h3>Social Case Study Report</h3>
            <small style="font-style: italic;">(For {{PURPOSE}})</small>
            <small style="font-weight: bold; color: black; font-style: normal;">{{AGENCY_NAME}}</small>
        </div>

        <div class="section">
            <div class="section-title">I. IDENTIFYING INFORMATION</div>
            <div class="row"><span>Name</span><span>:</span><span>{{CLIENT_NAME}}</span></div>
            <div class="row"><span>Age</span><span>:</span><span>{{CLIENT_AGE}} YRS. OLD</span></div>
            <div class="row"><span>Sex</span><span>:</span><span>{{CLIENT_SEX}}</span></div>
            <div class="row"><span>Address</span><span>:</span><span>{{CLIENT_ADDRESS}}</span></div>
            <div class="row"><span>Birthdate</span><span>:</span><span>{{CLIENT_BIRTHDATE}}</span></div>
            <div class="row"><span>Birthplace</span><span>:</span><span>{{CLIENT_BIRTHPLACE}}</span></div>
            <div class="row"><span>Religion</span><span>:</span><span>{{CLIENT_RELIGION}}</span></div>
            <div class="row"><span>Educational Attainment</span><span>:</span><span>{{CLIENT_EDUCATION}}</span></div>
            <div class="row"><span>Civil Status</span><span>:</span><span>{{CLIENT_CIVIL_STATUS}}</span></div>
            <div class="row"><span>Occupation</span><span>:</span><span>{{CLIENT_OCCUPATION}}</span></div>
            <div class="row"><span>Income</span><span>:</span><span>{{CLIENT_INCOME}}</span></div>
            <div class="row"><span>Contact No.</span><span>:</span><span>{{CLIENT_CONTACT}}</span></div>
        </div>

        <div class="section">
            <div class="section-title">II. FAMILY COMPOSITION</div>
            {{FAMILY_TABLE}}
        </div>

        <div class="section">
            <div class="section-title">III. PROBLEM PRESENTED</div>
            <div class="paragraph">
                {{PROBLEM_PRESENTED}}
            </div>
        </div>

    </div>

    <div class="document-footer">
        <div class="doc-address">
            New Municipal Building, Barangay Biga I, Emilio Aguinaldo Highway, Silang, Cavite, Philippines<br>
            Mobile Nos.: 09770695194/09161512560 &nbsp;&nbsp; Email Address: socialwelfaresilang@gmail.com
        </div>
        <div class="doc-meta">
            <div>FO-EEC-MSWD 01 REV. 0</div>
            <div>Page {{PAGE_NUMBER}} of {{TOTAL_PAGES}}</div>
        </div>
    </div>

    <!--PAGE_BREAK-->

    <img src="/images/silang.png" class="watermark" alt="">

    <div class="content">
        <div class="header">
            <img src="/images/silang.png" alt="Silang Logo">
            <div class="gov">
                <div>Republic of the Philippines</div>
                <div>Province of Cavite</div>
                <div>Municipality of Silang</div>
                <h2>MUNICIPAL SOCIAL WELFARE AND DEVELOPMENT</h2>
            </div>
            <img src="/images/dswd.png" alt="DSWD Logo">
        </div>

        <div class="line"></div>
        <div class="line2"></div>

        <div class="section">
            <div class="section-title">IV. HOME CONDITION:</div>
            <div class="paragraph">
                {{HOME_CONDITION}}
            </div>
        </div>

        <div class="section">
            <div class="section-title">V. SOCIO ECONOMIC CONDITION:</div>
            <div class="paragraph">
                {{SOCIO_ECONOMIC}}
            </div>
        </div>

        <div class="section">
            <div class="section-title">VI. EVALUATION:</div>
            <div class="paragraph">
                {{EVALUATION}}
            </div>
        </div>

        <div class="section">
            <div class="section-title">VII. RECOMMENDATION:</div>
            <div class="paragraph">
                {{RECOMMENDATION}}
            </div>
        </div>

        <div class="footer">
            <div class="signature">
                PREPARED BY
                <b>{{PREPARED_NAME}}</b>
                <small>{{PREPARED_TITLE}}</small>
            </div>

            <div class="signature">
                NOTED BY
                <b>{{NOTED_NAME}}</b>
                <small>
                    {{NOTED_TITLE}}<br>
                    {{NOTED_LICENSE}}
                </small>
            </div>
        </div>

    </div>

    <div class="document-footer">
        <div class="doc-address">
            New Municipal Building, Barangay Biga I, Emilio Aguinaldo Highway, Silang, Cavite, Philippines<br>
            Mobile Nos.: 09770695194/09161512560 &nbsp;&nbsp; Email Address: socialwelfaresilang@gmail.com
        </div>
        <div class="doc-meta">
            <div>FO-EEC-MSWD 01 REV. 0</div>
            <div>Page {{PAGE_NUMBER}} of {{TOTAL_PAGES}}</div>
        </div>
    </div>
